.centrar{
margin-right: auto;
justify-content: center;
text-align: center;
margin: auto;
}

.uno{
    color: red;
}
.dos{
    color: green;
}
.tres{
    color: hotpink;
}

.imagen{
    background-color: lightblue;
    
}
.developer{
    text-align: center;
    color: indianred;
    font-size: 60px;
    background-color: lavender;
    
}
