.centrar{
margin-right: auto;
justify-content: center;
text-align: center;
margin: auto;
}

.uno{
    color: red;
}
.dos{
    color: green;
}
.tres{
    color: hotpink;
}
.developer{
    text-align: center;
    color: indianred;
}